<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
      <form [formGroup]="bloodProductForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="id"
            >Donor ID
            <input
              id="id"
              type="number"
              formControlName="id"
              class="form-control"
              min="1"
            />
          </label>
        </div>

        <div class="form-group">
            <label for="productName" class="d-block">Product name </label>
            <input type="radio" formControlName="productName" value="Whole Blood" /> Whole
            Blood
            <input type="radio" formControlName="productName" value="Apheresis" />
            Apheresis
        </div>

        <div class="form-group">
            <label for="storageLoc"
              >Storage Location
              <input
                id="storageLoc"
                type="text"
                formControlName="storageLoc"
                class="form-control"
                min="1"
              />
            </label>
        </div>
  
        <div class="form-group">
          <label for="volume"
            >Volume
            <input
              id="volume"
              type="text"
              formControlName="volume"
              class="form-control"
            /> ml
          </label>
        </div>

        <div class="form-group">
          <label for="bloodGroup"
            >Blood Group
            <select
              id="bloodGroup"
              formControlName="bloodGroup"
              class="form-control"
            >
              <option
                *ngFor="let bloodGroup of bloodGroups"
                [ngValue]="bloodGroup"
                >{{ bloodGroup }}</option>
            </select>
          </label>
        </div>

      <div class="form-group">
        <label for="dateOfCreation"
          >Unit Creation Date
          <input
            id="dateOfCreation"
            type="date"
            formControlName="dateOfCreation"
            class="form-control"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="dateOfExp"
          >Expiry Date
          <input
            id="dateOfExp"
            type="date"
            formControlName="dateOfExp"
            class="form-control"
          />
        </label>
      </div>

  
        <button
          type="submit"
          [disabled]="!bloodProductForm.valid"
          class="btn btn-success mt-3 mr-2"
        >
          Sumbit
        </button>
  
        <button
          type="reset"
          [disabled]="!bloodProductForm.dirty"
          class="btn btn-primary mt-3"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
  